* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: aliceblue;
    direction: rtl;
}

/* round for styling */
#add_round {
    width: 100%;
    padding: 20px;
    text-align: center;
}

#add_round div{
    width: 100%;
}

#add_round #winnder_select input {
    width: auto;
    display: inline;
}

#add_round label{
    width: 100%;
    display: block;
}

#add_round input[type="number"]{
    width: calc(100% - 44px);
}

#add_round button[type="submit"] {
    margin-top: 20px;
    width: 100%;
}

#add_round .number_input {
    width: 100%;
}
